body{
    background-image: url("/static/beetlyme-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    font-family:  'Quando', serif;
}
h1, h2, h3, h4 { 
    font-family: 'Raleway', bold, sans-serif;
}


input[type='text'], 
input[type='password'],
input[type='button'] {
    display:block;
    margin: 5px;
    padding: 2px;
    margin-bottom: 20px;
    margin-top: 10px;
}

input[type='number'],
input[type='checkbox'] {
    display:inline;
    padding: 5px;
}

.container {
    background: rgba(255, 255, 255, 0.50);
    padding: 15px;
    margin-bottom: 50px;
    margin-top: 5px;
}

