<!doctype html>
<html>
<head>
  <title>BEEtLyme</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/stylesheet.css">
  <link href="https://fonts.googleapis.com/css?family=Quando|Raleway" rel="stylesheet">

<style>
    .navbar-default {
    background-color: #70A650;
    border-color: #70A650;
}
    #brandname {
        color: black;
    }
    .navbar-default .navbar-nav>li>a {
    color: white;
    }
    body {
      background-color: #CAF079
      }
  </style>

  {% block header %}
  {% endblock %}

</head>

{% if session and session['user_id'] %}
    {% include 'nav_bar_logged_in.html' %}

{% else %}
    {% include 'nav_bar_not_logged_in.html' %}

{% endif %}
<body>


 <div class="container">
    {% for flash in get_flashed_messages() %}
      {{ flash }}
    {% endfor %}

    {% block content %}
        Put your body here.
    {% endblock %}
     
  
  <style>
    
  </style>
</div>
</body>
<footer class="container-fluid text-center">
<!--   <p>BEEtLyme v.0.1 2017, produced by Anna Liisa Moter</p>
 --></footer>
</html>