<!doctype html>
<html>
<head>
  <title>BEEtLyme</title>
</head>

<body>

  <hr>
  <h6>BEEtLyme</h6>
    <!-- {% if "logged_in" in session %}
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
    {% endif %}
 -->
    <a href="/profile">Profile</a>
    <a href="/set_symptom">Set Symptom</a>
    <a href="/set_treatment">Set Treatment</a>

  <hr>

    {% for flash in get_flashed_messages() %}
      {{ flash }}
    {% endfor %}

    {% block content %}
        Put your body here.
    {% endblock %}
     
  
</body>
</html>