{% extends 'base.html' %}
{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div id="myDiv"></div>
<script>
Plotly.d3.csv("https://raw.githubusercontent.com/plotly/datasets/master/finance-charts-apple.csv", function(err, rows){

  function unpack(rows, key) {
  return rows.map(function(row) { return row[key]; });
}

  
var trace1 = {
  type: "scatter",
  mode: "lines",
  name: 'Symptom 1',
  x: unpack(rows, 'Date'),
  y: unpack(rows, 'AAPL.High'),
  line: {color: '#17BECF'}
}

var trace2 = {
  type: "scatter",
  mode: "lines",
  name: 'Symptom 2',
  x: unpack(rows, 'Date'),
  y: unpack(rows, 'AAPL.Low'),
  line: {color: '#7F7F7F'}
}

var data = [trace1,trace2];
    
var layout = {
  title: 'Symptoms over Time', 
  xaxis: {
    autorange: true, 
    range: ['2015-02-17', '2017-02-16'], 
    rangeselector: {buttons: [
        {
          count: 1, 
          label: '1m', 
          step: 'month', 
          stepmode: 'backward'
        }, 
        {
          count: 6, 
          label: '6m', 
          step: 'month', 
          stepmode: 'backward'
        }, 
        {
          count: 1, 
          label: '1 yr', 
          step: 'year', 
          stepmode: 'backward'
        }, 
        {step: 'all'}
      ]}, 
    rangeslider: {range: ['2015-02-17', '2017-02-16']}, 
    type: 'date'
  }, 
  yaxis: {
    autorange: true, 
    range: [86.8700008333, 138.870004167], 
    type: 'linear'
  }
};

Plotly.newPlot('myDiv', data, layout);
})
</script>

{% endblock %}