{% extends 'base.html' %}
{% block content %}


<script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <form action='/graph_data'>
    <input type='hidden' id='hidden' name='graph_options' value='{{ graph_options | tojson | safe}}'>
  </form>

    <script type='text/javascript'>
      google.charts.load('current', {'packages':['annotatedtimeline']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var jsonData = $.ajax({
          url: "/get_data",
          data: {graph_options: $('#hidden').val()},
          dataType: "json",
          async: false
          }).responseText;
        var data = new google.visualization.DataTable(jsonData);
        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
        chart.draw(data, {displayAnnotations: false});
      }

        var options = {
          title: "Symptom Intensity over Time",
          interpolateNulls: true,
          axes: {
            y: {
                all: {
                    range: {
                        max: 10,
                        min: 0
                      }
                    }
                }
            }
          };
        
    </script>



  
    <div id='chart_div' style='width: 900px; height: 340px;'></div>


{% endblock %}