{% extends 'base.html' %}
{% block content %}
<form action='/graph_data'>
    
    <input type='hidden' id='symptom' name='graph_options' value='{{ symptom_options | tojson | safe }}'>
    <input type='hidden' id='treatment' name='graph_options' value='{{ treatment_option | tojson | safe }}'>
    
  </form>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div id="myDiv"></div>
<script>

var jsonData = $.ajax({
          url: "/graph_data.json",
          data: {symptom_options: $('#symptom').val(), 
                treatment_option: $('#treatment').val()},
          dataType: "json",
          async: false
          }).responseText;
  
var parseResponse = JSON.parse(jsonData);
var dateRange = parseResponse.date_range;

var data = parseResponse.data;

console.log(data);


//make ajax call to app route for date range.  Json.  var = $.blahdiblah.daterange
var layout = {
  title: 'Symptoms over Time', 
  xaxis: {
    autorange: true, 
    range: dateRange, 
    rangeselector: {buttons: [
        {
          count: 1, 
          label: '1m', 
          step: 'month', 
          stepmode: 'backward'
        }, 
        {
          count: 6, 
          label: '6m', 
          step: 'month', 
          stepmode: 'backward'
        }, 
        {
          count: 1, 
          label: '1 yr', 
          step: 'year', 
          stepmode: 'backward'
        }, 
        {step: 'all'}
      ]}, 
    rangeslider: {range: dateRange}, 
    type: 'date'
  }, 
  yaxis: {
    title: 'Sx Intensity',
    autorange: true, 
    range: [0, 16], 
    type: 'linear'
  },
  yaxis2: {
    title: 'Tx dosage',
    titlefont: {color: 'rgb(148, 103, 189)'},
    tickfont: {color: 'rgb(148, 103, 189)'},
    side: 'right',
    overlaying: 'y',
    autorange: true
  }
};

console.log(layout)

Plotly.newPlot('myDiv', data, layout);

</script>

{% endblock %}