{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-9">
    <h2>Welcome back {{ user.fname }} {{ user.lname }}</h2>
    <br>
    <h3>Here are the symptoms you are currently tracking:</h3>
        <ul>{% for symptom in symptoms %}
          <li>{{ symptom.symptom.name }}</li>
          {% endfor %}
        </ul>
        <br>
    <h3>And the treatments you are currently tracking:</h3>
        <ul>{% for treatment in treatments %}
        <li>{{ treatment.treatment.name }}</li>
        {% endfor %}
        </ul>
  </div>
  <div class="col-xs-2"></div>
</div>
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
      {% if entries %}
        <h3>Journal Entries:</h3>
        <div class="panel panel-default">
        <div class="panel-body">
        <ul>
        {% for entry in entries %}
        <li>{{ entry.created_at.strftime('%Y-%m-%d') }}:<br> {{ entry.comment }}
          <br></li>
          {% endfor %}
          {% endif %}
      </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-2"></div>
</div>


{% endblock %}