{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-9">
    <h2>Welcome back {{ user.fname }} {{ user.lname }}</h2>
    <br>
    <h3>Here are the symptoms you are currently tracking:</h3>
        <ul>{% for symptom in symptoms %}
        <li>{{ symptom.symptom.name }}</li>
        {% endfor %}
        </ul>
        <br>
    <h3>And the treatments you are currently tracking:</h3>
        <ul>{% for treatment in treatments %}
        <li>{{ treatment.treatment.name }}</li>
        {% endfor %}
        </ul>
  </div>
  <div class="col-xs-2"></div>
</div>

{% endblock %}