{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" href="/static/easy-autocomplete.css">
<link rel="stylesheet" href="/static/easy-autocomplete.themes.css">
<script src="/static/jquery.easy-autocomplete.js"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <br>
    <h2>Set a new symptom or treatment to track</h2>
    <h4>Select from the autocomplete options by clicking on your choice, or set your own unique value to track.</h4>
  </div><br><br><br><br>
  <div class="col-xs-2"></div>
</div>

<div class="row">
  <div class="col-xs-2">  </div>
  <div class="col-xs-4"><br>
    <form name='symptom' method="POST">
    <label for="symptom">Choose Symptom to track:</label>
    <input type='text' id='autosymptom' name='symptom' placeholder='search' required>
    <button id='submit-symp' class="btn btn-default">Submit</button>
    <br>
    <br><br>
    <p id='set-symp'></p>
    </form>
  </div>

  <div class="col-xs-4"><br>
    <form name="treatment" method="POST">
    <label for="treatment">Choose Treatment to track:</label>
    <input type='text' id='autotreatment' name='treatment' placeholder='search' required>
    <button id='submit-treat' class="btn btn-default">Submit</button>
    <br>
    <br><br>
    <p id='set-treat'></p>
    </form>
  </div>

  <div class="col-xs-2" ></div>
</div>


<script>
//Gets list of symptoms for symptom autocomplete
$.get('/auto_symptom', function(symptoms){
    console.log(symptoms);
    var options = {
        data: symptoms,
        list: {
            match: {
                enabled: true
            }
        }
    };
    $("#autosymptom").easyAutocomplete(options);
})
//Gets list of treatments for treatment autocomplete
$.get('/auto_treatment', function(treatments){
    console.log(treatments);
    var options = {
        data: treatments,
        list: {
            match: {
                enabled: true
            }
        }
    };
    $("#autotreatment").easyAutocomplete(options);
})
//sets success button at end of set symp ajax call.
function successSympMessage(result) {
    $('#submit-symp').toggleClass("btn btn-success").html("Success");
    $('#set-symp').html(result);
}
//ajax call to set symptom
function submitSetSymptom(evt) {
    evt.preventDefault();
    var formInputs = {symp:$('#autosymptom').val()};
    $.post("/set_symptom", 
            formInputs,
            successSympMessage)
}
//event listener for ajax call
$('#submit-symp').on("click", submitSetSymptom);
//sets success button at end of set treat ajax call.
function successTreatMessage(result) {
    $('#submit-treat').toggleClass("btn btn-success").html("Success");
    $('#set-treat').html(result);
}
//ajax call to set treatment
function submitSetTreatment(evt) {
    evt.preventDefault();
    console.log("in ajax")
    var treatFormInputs = {treat:$('#autotreatment').val()};
    
    $.post("/set_treatment",
            treatFormInputs,
            successTreatMessage)
}
//event listener for ajax call
$('#submit-treat').on('click', submitSetTreatment);
    
</script>



{% endblock %}