{% extends 'base.html' %}
{% block content %}
<!-- <script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/locale/af.js"></script>
<script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />

<style>
label{margin-left: 20px;}
#datepicker{width:180px; margin: 0 20px 20px 20px;}
#datepicker > span:hover{cursor: pointer;}
</style>


<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-9">
        <label>Select Date: </label>
        <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
        <input class="form-control" type="text" readonly />
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
    <div class="col-xs-1"></div>
</div>

<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-4">
    <h3>Track your Symptoms.</h3>  
        <p>For each symptom, enter a value between 0 and 10 to reflect today's intensity of that symptom.  A zero would indicate the symptom is completely absent this day, and a 10 is the most intense manifestation of the symptom you can imagine.<p>

        <form id='symptoms-track' method="POST">
            <ul>
            {% for symptom in symptoms %}
             <input type='number' class= 'values' name='{{ symptom.symptom.name }}' required min='0' max='10'>  {{ symptom.symptom.name }}<br>
            {% endfor %}
            </ul>
            <button id='symp-submit' class="btn btn-default">Submit</button>
            <p id='symptom-result'></p>
        </form>
        <br><br>
  </div>
  <div class="col-xs-4">
    <h3>Track your Treatments.</h3>   
        <p>For Bee Venom, enter the number of stings in a given session.  For supplements and medications, enter the dosage in milligrams or other appropriate numerical measurement.<p>

        <form id='treatments-track' method="POST">
            <ul>
            {% for treatment in treatments %}
            <input type='number' class='values' name='{{ treatment.treatment.name }}' required min='0' max='10000'>  {{ treatment.treatment.name }}<br>
            {% endfor %}
            </ul>
            <button id='treat-submit' class="btn btn-default">Submit</button>
            <p id='treatment-result'></p>
        </form>
        <br><br>
    </div>
    <div class="col-xs-2"></div>
</div>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-5"><p>Note on inputting tracking values: You may use the calendar above to backfill tracking data. In order for the graph to display correctly, only one value can be input per calendar date.  Therefore, if you re-enter values for a date for which you have already entered values, the values will be overwritten to reflect your most recent inputs.</p>
        </div>
    <div class="col-xs-5"></div>
</div>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <h3>Journal Entry (optional):</h3>
      <textarea class="form-control" name='comment' rows="5" id="comment"></textarea>
      <button id='comment-submit' class="btn btn-default">Submit</button>
      <p id='journal-result'></p>
    </div>
    <div class="col-xs-2"></div>
</div>


<script>
//function for datepicker
$(function () {
  $("#datepicker").datepicker({ 
        autoclose: true, 
        todayHighlight: true
  }).datepicker('update', new Date());
});

//success function for sending success message for tracking symptom ajax call
function sympSuccessMessage(result) {
    $('#symp-submit').toggleClass("btn btn-success").html("Success");
    $('#symptom-result').html(result);

}
//ajax call sending symptom values to app route
function submitSymptomValues(evt) {
    evt.preventDefault();
    var date = $('input.form-control').val()
    var formInputs = $('#symptoms').serialize() + "&date=" + date
    $.post("/track_symptoms", 
            formInputs,
            sympSuccessMessage)
}
//event listener for symptom on 'submit'
$('#symp-submit').on("click", submitSymptomValues);

//success function for treatment ajax call
function treatSuccessMessage(result) {
    $('#treat-submit').toggleClass("btn btn-success").html("Success")
    $('#treatment-result').html(result);
}
//ajax call for sending treatment values to app route
function submitTreatmentValues(evt) {
    evt.preventDefault();
    var date = $('input.form-control').val();
    var treatFormInputs = $('#treatments').serialize() + "&date=" + date
    
    $.post("/track_treatments",
            treatFormInputs,
            treatSuccessMessage)
}
//event listener for treatment on 'submit'
$('#treat-submit').on('click', submitTreatmentValues);

//success function for comment ajax call
function commentSuccessMessage(result) {
    $('#comment-submit').toggleClass("btn btn-success").html("Success");
    $('#journal-result').html(result);

}
//ajax call for sending comment text to app route
function submitComment(evt) {
    evt.preventDefault();
    var date = $('input.form-control').val();
    var commentInput = $('#comment').serialize() + "&date=" + date;
    $.post("/log_comment",
            commentInput,
            commentSuccessMessage)
}
//event listener for sending comment on 'submit'
$('#comment-submit').on('click', submitComment);
</script>


{% endblock %}