{% extends 'base.html' %}
{% block content %}

<h3>Track your treatments.</h3>
<h4>  For bee venom, enter the number of bee stings you applied.  For a medication or supplement, enter the dose in milligrams.</h4>


<form action='/track_treatments' method="POST">
    <ul>
    {% for treatment in treatments %}
    <li>{{ treatment.treatment.name }} :<input type='text' name='{{ treatment.treatment.name }}'></li>
    {% endfor %}
    </ul>
    <input type='submit' class="btn btn-default" value='submit'>
</form>

{% endblock %}